
<div *ngIf="chat">
    <h2><span jhiTranslate="chatApp.chat.detail.title">Chat</span> {{chat.id}}</h2>
     <button type="submit" *ngIf="notify"
                                [routerLink]="['../../chat-box', notificationChat ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span>New message from {{notificationUser}}</span>
                        </button>
    <hr>
    <jhi-alert-error></jhi-alert-error> 
    <div  id="messageBox" #messageBox class="messageBox">
        <p *ngFor="let message of chatmessages">{{message.userLogin+' : '+message.story}}</p>
    </div>
    <input type="text" placeholder="Enter message..." class="form-control" id="message" (keyup.enter)="sendMessage()"  [(ngModel)]="currentMessage" />
    <button type="button"
            (click) = "sendMessage();"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Send</span>
    </button>
</div>
