<div>
    <h2>
        <span jhiTranslate="chatApp.chatMessage.home.title">Chat Messages</span>
        <button class="btn btn-primary float-right create-chat-message-my-suffix" [routerLink]="['/', { outlets: { popup: ['chat-message-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="chatApp.chatMessage.home.createLabel">
            Create new Chat Message
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="chatMessages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="chatApp.chatMessage.story">Story</span></th>
            <th><span jhiTranslate="chatApp.chatMessage.senttime">Senttime</span></th>
            <th><span jhiTranslate="chatApp.chatMessage.chat">Chat</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chatMessage of chatMessages ;trackBy: trackId">
                <td><a [routerLink]="['../chat-message-my-suffix', chatMessage.id ]">{{chatMessage.id}}</a></td>
                <td>{{chatMessage.story}}</td>
                <td>{{chatMessage.senttime | date:'medium'}}</td>
                <td>
                    <div *ngIf="chatMessage.chatId">
                        <a [routerLink]="['../chat-my-suffix', chatMessage.chatId  ]" >{{chatMessage.chatId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../chat-message-my-suffix', chatMessage.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chat-message-my-suffix/'+ chatMessage.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chat-message-my-suffix/'+ chatMessage.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
